@import 'libs/vars';
@import 'libs/functions';
@import 'libs/mixins';
@import 'libs/skel';
@import url('../css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:400,800|Source+Sans+Pro:600');

input {
	font-family: 'FontAwesome', sans-serif;
} /* This is for the placeholder */
.fas {
  font-family: 'FontAwesome', sans-serif;
  font-style: normal;
}

.body {
	background-color:	#FAFAFA;
	background-image: url('../images/header-bg-geometric.svg'), url('../images/header-bg-semicircle.svg');
	background-position: right -400px top -120px, center top 0px;
	background-repeat: no-repeat;
	background-size: contain, 3600px;
}

.white {
	color: _palette(fg-white);
}



html, body {
  margin: 0;
  height: 100%;
}

h1,h2 {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 600;
}

h3,h4,h5,h6 {
	font-family: 'Nunito Sans', sans-serif;
	font-weight: 800;
}

p {
	font-family: 'Nunito Sans', sans-serif;
	font-weight: 400;
}

.logo {
	border-bottom: 0;
}

.logo img {
	max-width: 200px;
}

.navlinks__desktop--white {
	font-family: 'Nunito Sans', sans-serif;
	font-weight: 800;
  padding: .75em 15px;
  line-height: 1em;
  font-size: 1em;
  color: #fff;
  text-decoration: none;
	text-transform: uppercase;
}

.navlinks__desktop--white:hover {
  color: _palette(amber-contrast);
}

.form__signup--inline{
	display: flex;
	flex-flow: row wrap;
	/* This aligns items to the end line on main-axis */
	justify-content: center;
}

.form__signup--inline input {
  width: 100%;
  margin: .625em 0;
}

.home__header--white {
	padding: 1em 0;
}

.hero__headline--white {
	font-size: 4em;
	color: #FFF;
	margin: 0;
}

.hero__paragraph--white {
	font-size: 1em;
	color: #FFF;
	margin-bottom: 4em;
}
.hero__paragraph--white strong {
	font-weight: 800;
}

.features__hero--home {
	padding: 10em 0 4em 0;
}

.topaz-header {
	padding: 1em 0;
}

.navigation__desktop--white {
	float: right;
}

.navigation__desktop--white ul {
	display: flex;
}

.navigation__desktop--white ul li {
	display: inline-flex;
}

.navigation__desktop--white ul li a {
	border-bottom: 0;
}

.bodyctatemp {
	background-image: linear-gradient(-224deg, #00EAFF 0%, #0064ED 100%);
	padding: 4em 0 0 0;
}

#footer {
	padding-bottom: 0;
}

/* Screen reader only */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

/* Button styling */
.menu-toggle {
  display: inline-block;
  padding: .75em 15px;
  line-height: 1em;
  font-size: 1em;
  color: #333;
}

.menu-toggle:hover,
.menu-toggle:focus {
  color: #c00;
}

/*
 Default styles + Mobile first
 Offscreen menu style
*/
.main-menu {
  position: absolute;
  left: -200px;
  top: 0;
  height: 100%;
  overflow-y: scroll;
  overflow-x: visible;
  transition: left 0.3s ease,
              box-shadow 0.3s ease;
  z-index: 999;
}

.main-menu ul {
  list-style: none;
  margin: 0;
  padding: 2.5em 0 0;
  /* Hide shadow w/ -8px while 'closed' */
  -webkit-box-shadow: -8px 0 8px rgba(0,0,0,.5);
     -moz-box-shadow: -8px 0 8px rgba(0,0,0,.5);
          box-shadow: -8px 0 8px rgba(0,0,0,.5);
  min-height: 100%;
  width: 200px;
  background: #1a1a1a;
}

.main-menu a {
  display: block;
  padding: .75em 15px;
  line-height: 1em;
  font-size: 1em;
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid #383838;
}

.main-menu li:first-child a {
  border-top: 1px solid #383838;
}

.main-menu a:hover,
.main-menu a:focus {
  background: #333;
  text-decoration: none;
}

.main-menu .menu-close {
  position: absolute;
  right: 0;
  top: 0;
}

/*
 On small devices, allow it to toggle...
*/
/*
 :target for non-JavaScript
 aria-expanded="true/false" will be for JavaScript
*/
.main-menu:target,
.main-menu[aria-expanded="true"] {
  left: 0;
  outline: none;
  -moz-box-shadow: 3px 0 12px rgba(0,0,0,.25);
  -webkit-box-shadow: 3px 0 12px rgba(0,0,0,.25);
  box-shadow: 3px 0 12px rgba(0,0,0,.25);
}

.main-menu:target .menu-close,
.main-menu[aria-expanded="true"] .menu-close {
  z-index: 1001;
}

.main-menu:target ul,
.main-menu[aria-expanded="true"] ul {
  position: relative;
  z-index: 1000;
}

/*
 We could us `.main-menu:target:after`, but
 it wouldn't be clickable.
*/
.main-menu:target + .backdrop,
.main-menu[aria-expanded="true"] + .backdrop {
  position: absolute;
  display: block;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 998;
  background: #000;
  background: rgba(0,0,0,.85);
  cursor: default;
}

@supports (position: fixed) {
  .main-menu,
  .main-menu:target + .backdrop,
  .main-menu[aria-expanded="true"] + .backdrop {
    position: fixed;
  }
}

/*
 Larger screen styling
 Horizontal menu
*/
@media (min-width: 768px) {
  .menu-toggle,
  .main-menu .menu-close {
    display: none;
  }

  /* Undo positioning of off-canvas menu */
  .main-menu {
    position: relative;
    left: auto;
    top: auto;
    height: auto;
  }

  .main-menu ul {
    display: flex;

    /* Undo off-canvas styling */
    padding: 0;
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
    height: auto;
    width: auto;
    background: none;
  }

  .main-menu a {
    border: 0 !important; /* Remove borders from off-canvas styling */
  }

  .main-menu a:hover,
  .main-menu a:focus {
    background: none; /* Remove background from off-canvas styling */
    color: #ffbf00;
  }
}
